<nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link me-3" href='#land' routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact : true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3" href='#about' routerLinkActive="active" ariaCurrentWhenActive="page">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3" href='#service' routerLinkActive="active" ariaCurrentWhenActive="page">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-3" href='#work' routerLinkActive="active" ariaCurrentWhenActive="page">Our Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4" href='#contact' routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
                </li>
                <!-- <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Action</a></li>
                        <li><a class="dropdown-item" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Another action</a></li>
                    </ul>
                </div> -->
            </ul>
        </div>
    </div>
</nav>
