fa-icon {
    font-size: 27px;
    margin: 20px 0 0 0;
    color: #01c8ff;
    transition: .7s;
    display: flex;
    flex-direction: column;
}

fa-icon:hover {
    color:#fff;
    cursor: pointer;
}